

</body>

<footer>
  <div class="container-fluid">
    <a class="footer-link" href="https://www.linkedin.com/in/yashikaparanjothi"><i class="fab fa-linkedin"></i></a>
    <a class="footer-link" href="https://github.com/YashikaParanjothi"><i class="fab fa-github"></i></a>
  </div>
</footer>

</html>
